@import url('https://fonts.googleapis.com/css2?family=Offside&display=swap')
  
.container
  overflow: hidden
  height: 100vh

  color: #ffffff
  text-align: center
  text-transform: uppercase
  letter-spacing: 1px
  font-family: 'Offside', cursive;

.score
  position: absolute
  width: 150px
  padding-top: 10px

  font-size: 30px

.restart
  position: absolute
  box-sizing: border-box
  margin: 50px auto
  width: 150px
  padding: 0 20px

  font-size: 24px
  cursor: pointer

.full
  width: fit-content
  top: 30%
  left: 50%
  margin: 100px auto
  
  font-size: 40px
  transform: translateX(-50%)
  
  &:first-child
    font-size: 78px
    margin-top: 0
    padding: 0
